.headerContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: "16px";
}
.avatar {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20%;
}
.avatar-space {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.menu {
  background-color: #085924;
  color: #fff !important;
}
.menu .ant-menu-item-selected {
  background-color: rgba(0, 0, 0, 0.1) !important;
  color: #000 !important;
}
.menu-icon {
  color: #fff !important;
  font-weight: bold;
  opacity: 1;
}

.menu-link {
  color: #fff !important;
  font-weight: bold;
  opacity: 1;
}

.menu-link:hover {
  color: #d3d3d3;
}

.logout-icon {
  color: #f2780c !important;
}

.logout-link {
  color: #f2780c !important;
}

.logout-link:hover {
  color: #d2600a !important;
}
